
.landing{
    font-weight: 100;
}

.scroll-icons{
    padding-bottom:20px;
}

#scroll-icon{
    font-size: 3rem;
    animation-duration: 0.75s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes bounce {
    from {
      transform: translateY(5px);
    }
  
    to {
        transform: translateY(-5px);
    }
  }

.transparent{
  background-color: transparent;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.scroll {
    display: none;
}


