$font-stack:    'Roboto', sans-serif, 'Ubuntu', sans-serif, 'Raleway', sans-serif, 'Open Sans', sans-serif;
$primary-color: black;
$secondary-color: rgb(0,128,0);
$primary-font: #a19c9c;
$secondary-font: #d4d8d4;
$third-font: #d2d2d2;